<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NaVkladke</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<div>
    <th:block th:each="car : ${messagesCar}">
        <h1 th:text="${car}"></h1>
    </th:block>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<table class="Таблица Машины">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Модель</th>
        <th scope="col">Год выпуска</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car:${cars}">
            <td th:text="${car.getId()}"/>
            <td th:text="${car.getModel()}"/>
            <td th:text="${car.getyearOfManufacture()}"/>
            <td th:text="${car.getPrice()}"/>
    </tr>
    </tbody>
</table>
</body>
</html>